
# Dependency directories
node_modules/

# Optional: Logs and debugging files
logs/
*.log
npm-debug.log*

# Optional: Environment configuration
.env

# Optional: OS-specific files
.DS_Store
Thumbs.db

# Optional: Compiled output
dist/
build/
out/
lib/
tmp/
*.out
*.log
*.pid

# Optional: Editor/IDE configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
